In [1]:
import pandas as pd
import os
os.getcwd()

'C:\\Users\\Alec\\Documents\\Programming Resources\\Boot Camp\\13_project02\\project_02_ETL_LOCAL'

In [2]:
cwd = os.getcwd()
national_gun_laws_xlsx = 'resources\\national_gun_laws_per_year\\national_gun_laws_per_year.xlsx'

nat_gun_laws_df = pd.read_excel(national_gun_laws_xlsx)

In [3]:
nat_gun_laws_df

,state,year,felony,invcommitment,invoutpatient,danger,drugmisdemeanor,alctreatment,alcoholism,relinquishment,...,expartedating,dvrosurrender,dvrosurrendernoconditions,dvrosurrenderdating,expartesurrender,expartesurrendernoconditions,expartesurrenderdating,dvroremoval,stalking,lawtotal
0,Alabama,1991,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,15
1,Alabama,1992,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,16
2,Alabama,1993,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,16
3,Alabama,1994,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,16
4,Alabama,1995,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,Wyoming,2016,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8
1496,Wyoming,2017,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8
1497,Wyoming,2018,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,7
1498,Wyoming,2019,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,7
1499,Wyoming,2020,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,7

In [4]:
new_nat_gunlaws = nat_gun_laws_df[['state','year','lawtotal']].copy()
new_nat_gunlaws

        state  year  lawtotal
0     Alabama  1991        15
1     Alabama  1992        16
2     Alabama  1993        16
3     Alabama  1994        16
4     Alabama  1995        16
...       ...   ...       ...
1495  Wyoming  2016         8
1496  Wyoming  2017         8
1497  Wyoming  2018         7
1498  Wyoming  2019         7
1499  Wyoming  2020         7

[1500 rows x 3 columns]

In [5]:
# # calculate change in laws per year for each row / state
# new_nat_gunlaws['change_in_lawtotal'] = pd.DataFrame.diff(new_nat_gunlaws['lawtotal'])
# new_nat_gunlaws = new_nat_gunlaws.fillna(0)
# new_nat_gunlaws.head(20)

In [6]:
compare_first_last = new_nat_gunlaws.groupby(['state'])
first = compare_first_last.first().copy()
last = compare_first_last.last()
last.head(20)

             year  lawtotal
state
Alabama      2020        10
Alaska       2020         3
Arizona      2020         8
Arkansas     2020        11
California   2020       111
Colorado     2020        32
Connecticut  2020        89
Delaware     2020        41
Florida      2020        30
Georgia      2020         6
Hawaii       2020        82
Idaho        2020         1
Illinois     2020        70
Indiana      2020        12
Iowa         2020        24
Kansas       2020         7
Kentucky     2020         6
Louisiana    2020        19
Maine        2020        11
Maryland     2020        69

In [7]:
combined_first_last = pd.merge(first, last, how='inner', on=['state'], suffixes=("_start","_end"))
combined_first_last.head(20)

             year_start  lawtotal_start  year_end  lawtotal_end
state
Alabama            1991              15      2020            10
Alaska             1991              10      2020             3
Arizona            1991              12      2020             8
Arkansas           1991              15      2020            11
California         1991              58      2020           111
Colorado           1991               9      2020            32
Connecticut        1991              25      2020            89
Delaware           1991              11      2020            41
Florida            1991              18      2020            30
Georgia            1991              12      2020             6
Hawaii             1991              42      2020            82
Idaho              1991               5      2020             1
Illinois           1991              40      2020            70
Indiana            1991              10      2020            12
Iowa               1991              19      2020            24
Kansas             1991              13      2020             7
Kentucky           1991               8      2020             6
Louisiana          1991              10      2020            19
Maine              1991               9      2020            11
Maryland           1991              17      2020            69

In [8]:
combined_first_last['change_law_count'] =combined_first_last['lawtotal_end'] - combined_first_last['lawtotal_start']
combined_first_last.head()

,year_start,lawtotal_start,year_end,lawtotal_end,change_law_count
state,,,,,
Alabama,1991,15,2020,10,-5
Alaska,1991,10,2020,3,-7
Arizona,1991,12,2020,8,-4
Arkansas,1991,15,2020,11,-4
California,1991,58,2020,111,53

In [9]:
new_nat_gunlaws.to_csv('resources\\national_gun_laws_per_year\\clean_gun_laws_per_year.csv', index=True)
combined_first_last.to_csv('resources\\national_gun_laws_per_year\\summary_law_count_change.csv', index=True)

In [10]:
# combine with information about the crime stats for matching year to see if there was a measureable drop in crime after implementaition or removal of firearm laws.